:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: end;
}

#users{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  gap: 5px;
  align-items: baseline;
  justify-content: center;
  padding: 2%;
  box-sizing: border-box;
  overflow: visible;
  
}

.user{
  width: 20px;
  aspect-ratio: 1;
  flex-flow: column;

  position: relative;
  overflow: visible;
}

.user .icon{
  position: absolute;
  background-color: gray;
  mask: url("/user.png");
  mask-size: cover;
  image-rendering: pixelated;
  width: 100%;
  aspect-ratio: 1;
  animation: talk 1s steps(3) 0s 1 alternate;

}


.user.talking .icon{
  animation: talk 1s steps(3) 0s infinite alternate;
  overflow: visible;
}

.message{
  position: absolute;
  background-color: white;
  color: #000;
  z-index: 10;
  transform: translate(0, -100%);
  padding: 5px;
  font-family: monospace;
  border: 2px solid black;
  overflow: visible;
}

.message > p{
  margin: 0;
}

@keyframes talk {
  0% { transform: translate(0, 0) rotate(0deg); }
  25% { transform: translate(5px, 5px) rotate(5deg); }
  50% { transform: translate(0, 0) rotate(0eg); }
  75% { transform: translate(-5px, 5px) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}